
.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.red {
  background-color: red
}

.blue {
  background-color: blue
}

.green {
  background-color: green
}
